apiVersion: v1
kind: Namespace
metadata:
  labels:
    app.kubernetes.io/name: "falco-operator"
    app.kubernetes.io/part-of: "falco"
  name: falco-operator
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: falco-operator
  namespace: falco-operator
  labels:
    app.kubernetes.io/name: "falco-operator"
    app.kubernetes.io/instance: "falco-operator"
    app.kubernetes.io/part-of: "falco"
spec:
  selector:
    matchLabels:
      control-plane: falco-operator
      app.kubernetes.io/name: falco-operator
  replicas: 1
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
      labels:
        control-plane: falco-operator
        app.kubernetes.io/name: falco-operator
    spec:
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      containers:
      - command:
        - /usr/bin/manager
        args:
          - --health-probe-bind-address=:8081
        image: falcosecurity/falco-operator:latest
        imagePullPolicy: IfNotPresent
        name: falco-operator
        ports: []
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - "ALL"
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          limits:
            cpu: 500m
            memory: 128Mi
          requests:
            cpu: 10m
            memory: 64Mi
        volumeMounts: []
      volumes: []
      serviceAccountName: falco-operator
      terminationGracePeriodSeconds: 10
