apiVersion: v1
kind: ServiceAccount
metadata:
  name: falco-operator
  namespace: falco-operator
  labels:
    app.kubernetes.io/name: "falco-operator"
    app.kubernetes.io/instance: "falco-operator"
    app.kubernetes.io/part-of: "falco"
