name: Docker Image

on:
  workflow_call:
    inputs:
      component_name:
        description: "The name of the component being built"
        required: true
        type: string
      release:
        description: "The release version to use for tagging the image"
        required: true
        type: string
      commit:
        description: "The Git commit hash used for the build"
        required: true
        type: string
      build_date:
        description: "The date when the build is performed"
        required: true
        type: string
      image_name:
        description: "The Docker image name and path to push to registry"
        required: true
        type: string
      sign:
        description: "Whether to sign the Docker image with Cosign"
        required: false
        default: false
        type: boolean
    outputs:
      digest:
        description: The digest of the pushed image.
        value: ${{ jobs.docker-image.outputs.digest }}

jobs:
  docker-image:
    runs-on: ubuntu-22.04
    outputs:
      image: ${{ steps.build-and-push.outputs.image }}
      digest: ${{ steps.build-and-push.outputs.digest }}
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3.6.0

      - name: Set up Docker Buildx
        id: Buildx
        uses: docker/setup-buildx-action@18ce135bb5112fa8ce4ed6c17ab05699d7f3a5e0 # v3.11.0

      - name: Login to Docker Hub
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_SECRET }}

      - name: Docker Meta
        id: meta_image
        uses: docker/metadata-action@902fa8ec7d6ecbf8d84d538b9b233a880e428804 # v5.7.0
        with:
          # list of Docker images to use as base name for tags
          images: |
            ${{ inputs.image_name }}
          tags: |
            type=ref,event=branch
            type=semver,pattern={{ version }}
            type=semver,pattern={{ major }}
            type=semver,pattern={{ major }}.{{ minor }}

      - name: Build and push
        id: build-and-push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta_image.outputs.tags }}
          file: ./build/Dockerfile
          build-args: |
            RELEASE=${{ inputs.release }}
            COMMIT=${{ inputs.commit }}
            BUILD_DATE=${{ inputs.build_date }}
            COMPONENT=${{ inputs.component_name }}

      - name: Install Cosign
        if: ${{ inputs.sign }}
        uses: sigstore/cosign-installer@3454372f43399081ed03b604cb2d021dabca52bb # v3.8.2

      - name: Sign the images with GitHub OIDC Token
        if: ${{ inputs.sign }}
        env:
          DIGEST: ${{ steps.build-and-push.outputs.digest }}
          TAGS: ${{ steps.meta_image.outputs.tags }}
          COSIGN_YES: "true"
        run: echo "${TAGS}" | xargs -I {} cosign sign {}@${DIGEST}
